.thumbnail{
  width: 300px;
  display: block;
}

.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
}

.search-bar{
  margin-left: 20px;
  margin-bottom: 20px;
  display: block;
}

.video-title{
  width: 300px;
}

.video-author{
  display: inline-block;
}

.video-stats{
 
}

.name{
  margin-left: 20px;
}

.email{
  margin-left: 20px;
}

.survey{
  width: 300px;
  font-weight: bold;
}

.google{
  margin-top: 20px;
  width: 200px;
  font-size: 100px;
  margin-bottom: 2px;
  color: #4285F4;
;
}

.search-bar{
  margin-top: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  border: solid;
  border-color: rgb(176, 176, 212);
  border-radius: 8px;
}

.first-name{
  margin-right: 8px;
}

.email{
  margin-right: 8px;
}
