.categories{
  padding: 1rem 2rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  position: relative;
}
.category-section{
  display: flex;
  position: relative;
  gap: 2px;
  padding: 12px 24px;
  margin: 0;
  overflow-x: scroll;
}
.left-arrow {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  position:absolute;
  top: 0;
}
.right-arrow {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  position:absolute;
  top: 0;
}

.category{
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 6px;
  background-color:rgba(0, 0, 0, 0.05);
  color: rgb(15, 15, 15);
  padding: 6px 8px;
  font-size: inherit;
  cursor: pointer;
  transition:background-color 150ms;
  font-size: 14px;
  font-weight: 400;
  user-select: none;
  -ms-overflow-style: none;
  display: inline-block;
  scrollbar-width: none;
  text-decoration: none;
}

.category:hover{
  background-color: #ddd;
}
.category.active{
  background-color: #606060;
  color: white;
  border-color: #EEE;
}
.category:last-child{
  margin-right: 0;
}

