.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  
}

.sidebar-link{
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  width: 60px;
}

.sidebar-link:hover{
  background-color: lightgray;
  cursor: pointer;
}

.sidebar img{
  height: 20px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 8px;

}

.home-side-bar{
  display: flex;
  position: relative;
  justify-content: left;
}

.home-side-bar .tooltip{
  position: absolute;
  font-family: Roboto,Arial;
  background-color: lightgray;
  font-size: 11px;
  margin-left: 45px;
  border-width: 8px;
  white-space: nowrap;
  margin-left: 10px;
  border-width: 10px;
  margin-top: 12px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
}

.sidebar-link:hover .tooltip{
  opacity: 1;
  transition:opacity 0.5;

}