.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  
}

.sidebar-link{
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  width: 60px;
}

.sidebar-link:hover{
  background-color: lightgray;
  cursor: pointer;
}

.sidebar img{
  height: 20px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 8px;

}