
      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  1fr;
        column-gap: 16px;
        row-gap: 40px;
        /*margin-left: 100px;*/
        margin-right: 20px;
        
      }

      .thumbnail{
        height: 115px;  /*can be removed*/
        width: 100%;
        border-radius: 10px;
      }



.video-author,
.video-stats{
  font-size: 10px;
  color: rgb(96,96,96);
}

.video-author{
  margin-bottom: 5px;
}

.video-title{
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 11px;
}

.name{
  margin-left: 20px;
}

.email{
  margin-left: 20px;
}

.survey{
  width: 300px;
  font-weight: bold;
}

.search-bar{
  margin-top: 0px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
  
}

.profile-picture{
  width: 30px;
  border-radius: 40px;
}

.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}

.video-preview:hover{
  cursor: pointer;
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-family: Roboto,Arial;
  font-size: 10px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 2px;
}
    